pytz==2025.2
Babel==2.12.1
python-dateutil==2.9.0
lxml==6.0.2
num2words==0.5.14
psycopg2-binary==2.9.9
Werkzeug==2.2.3
Jinja2==3.1.2
MarkupSafe==2.1.2
decorator==5.1.1
requests==2.31.0
html5lib==1.1
lxml_html_clean==0.4.3
passlib==1.7.4
Pillow==10.0.0
reportlab>=4.4.4

chardet
decorator
docutils
ebaysdk
feedparser
gevent
greenlet
idna
Jinja2
lxml
MarkupSafe
num2words
ofxparse
passlib
Pillow
polib
psutil
psycopg2-binary
pypdf
PyPDF2
python-dateutil
pytz
pyusb
qrcode
reportlab
requests
urllib3
vatnumber
vobject
Werkzeug
XlsxWriter
xlwt

